html {
  height: 100%;
}

body {
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#viewport {
  width: 640px;
  height: 256px;
  position: relative;
  overflow-x: auto;
  background-image: url("../images/water0.png");
}

#ports {
    width: 0px;
    margin-top: 96px;
    display: flex;
    justify-content: space-around;
}

#ports > .port {
    width: 64px;
    height: 32px;
    background-image: url("../images/port.png");
}

#ship {
  width: 128px;
  height: 64px;
  position: absolute;
  background-image:url("../images/ship.png");
}

#sailbutton {
  border: 0;
  background-color: #fb3640;
  border-bottom: 4px solid #d8040f;
  color: white;
  font-family: inherit;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: 'Nerko One', cursive;
}

#sailbutton:focus {
  background-color: #d8040f;
  border-bottom-width: 0;
  padding: 14px;
}